node_modules/
.classpath
.project
.settings/
.idea/
*.iml
*.iws
.DS_Store
*.log
*.log.*
*.bak
log/
target/
dev.properties
deploy_java.sh
java_build.sh
.springBeans
atlassian-ide-plugin.xml
*.sublime*
git.diff
**git.previous
bin/
target/
